@using WebApplication3.Models
@model  WebApplication3.Models.Employee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index1</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("PassDataFromViewToController", "PassDataFromViewToController", "Home")</li>
                    <li>  @Html.ActionLink("Part11", "part11", "Home")<br /></li>

                    <li>  @Html.ActionLink("students page", "GetAllStudent","Student")<br /></li>
                    <li>  @Html.ActionLink("ViewBag and ViewData", "VBVD", "Home")<br /></li>
                    <li>
                        @Html.ActionLink("Student Address Page", "StudentAddress", "Student", new { id = 1, stradd = "123centerlanr" }, null)
                        <br />
                    </li>

                    <li>
                        @Html.ActionLink("Index Page", "Index", "Student")
                        <br />
                    </li>
                    <li>
                        @Html.ActionLink("Student About Page", "StudentAbout", "Student", new { id = 1 }, null)
                        <br />
                    </li>
                    <li>
                        @Html.ActionLink("StudentContactPage", "StudentContactPage", "Student", new { msg = "helloo   " }, null)
                        <br />
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div>
        <a href="/Student/StudentAddress?id=1&stradd=supriyaadd12345">StudentAddress</a><br />
        <a href="/Student/Index"> student Index page</a><br />
        <a href="/Student/StudentAbout?id=1">StudentAbout page</a><br />
        <a href="/Student/StudentContactPage?msg=hello every one">StudentContactPage</a>
        <a href="/Employee/Index">Employee</a>
    </div>



    <div>
        <div>
            @ViewBag.Message +" Date"+ @DateTime.Now
        </div>
        <div>
            @((5 - 3) * (10 - 5))
        </div>
        <div>
            @{
                var a = 1;
                var b = 2;
                var c = a + b;
                var d = a * b;
                var currenttime = DateTime.Now;
                var tommdatetime = DateTime.Now.AddDays(1);
                List<string> colorlist = new List<string> { "red", "green", "blue" };
            }
        </div>
        <div>
            <label>
                @colorlist.FirstOrDefault()
                supriyakshir@gmail.com
                @@supriya
            </label>
        </div>
        <div>
            today dtetime = @currenttime
            </br>
            tommarowdtae=@tommdatetime
            <label>@c</label>
            <label>@d</label>

        </div>


        <div>
            @{ bool istrue = true;
                int i1 = 1;
            }


            @if (istrue)
            {
                if (i1 == 1)
                {
                    <h1>hello i am from if block with i value 1</h1>
                }
            }
            else
            {
                <h1> i am from else block</h1>

            }
            @{ int fact = 1;}

            @for (int i = 1; i <= 5; i++)
            {
                fact = fact * i;
                <h4> I am from for loop @i </h4>
            }
            <div>
                <label>
                    factroril= @fact
                </label>
            </div>
            @(i1==1 ? "a" : "b" )

        </div>
    </div>

    <div>
        @{
            var mylistint = new List<int> { 1, 2, 3, 4, 5, 6, 7, 8 };
            Employee e = new Employee() { id = 1, name = "supriya", address = "abc", salary = 100000 };



        }

        <div> @e.id @e.name @e.address @e.salary</div>
        @foreach (var i in mylistint)
        {
            <h5>@i </h5>
            fact = fact + i;
        }
        <div>fact ==== @fact</div>
    </div>

    <div>
        <div>
            Html Helper

            @helper mylisthelper(String[] str)
            {foreach (var item in str)
                {
                    <h1> @item</h1>
                }
            }

            <div>
                @mylisthelper(new string[] { "supriya", "Kshirsagar" })
            </div>
        </div>
    </div>

    @Html.ActionLink("Home", "")
    @Html.TextBox("txt1")
    @Html.RadioButton("rdr1", "first")
    @Html.BeginForm()
    @Html.Password("txtpass")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    </body>

</html>
