@model WebApplication3.Models.EmployeeModel

@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}



<h2>Part 12 : Strongly type html helper</h2>
<h3> @Html.ActionLink("Part 13", "part13", "Home") </h3><hr />
@using (Html.BeginForm("MyForm"))
{
    
    @Html.LabelFor(x => x.Id)
    @Html.TextBoxFor(x => x.Id)
    <br />
    @Html.LabelFor(x => x.Name)
    @Html.TextBoxFor(x => x.Name)
    <br />
    @Html.LabelFor(x => x.Address)
    @Html.TextBoxFor(x => x.Address)
    <br />
    @Html.LabelFor(x => x.IsEmployee)
    @Html.CheckBoxFor(x => x.IsEmployee)
    <br />
    @Html.LabelFor(x => x.Salary)
    @Html.TextBoxFor(x => x.Salary)
    <br />

    <input type="submit" value="Submitform" formaction="Part12PostMethod" class="btn btn-primary" />
}
